div.clearBoth{
clear:both;
margin-top:20px;
}
div.copyrightrow{
background:#ffffff;
clear:both;
font-size:9px;
padding:25px;
text-align:center;
}
div.header{
clear:both;
color:#ffffff;
font-weight:bold;
padding:3px;
}
div.reportBox{
background:#50504E;
border:1px solid #e7e5da;
margin-top:1em;
}
div.row:after {
content: "."; 
display: block; 
height: 0; 
clear: both; 
visibility: hidden;
}
div.row{
background-color:#F4F3F3;
margin-top:0px;
border-top:1px solid #e7e5da;
padding:3px;
display: inline-table;
min-height: 1%;
}
/* Hides from IE-mac \*/
* html div.row {height: 1%;}
div.row {display: block;}
/* End hide from IE-mac */
div.row span.center{
margin-right:30px;
}
div.row span.left{
float:left;
text-align:left;
width:74%;
}
div.row span.right{
float:right;
text-align:right;
width:34%;
}
div.row span.right2{
float:right;
text-align:right;
width:26%;
}
div.warrantyrow{
background:#ffffff;
clear:both;
font-size:9px;
text-align:center;
}
#colone,#coltwo,#colthree{
display:inline;
float:left;
margin-left:1%;
padding-top:3em;
width:31%;
}
div.wrapperBox{
width:95%;
margin:0 auto;
}
