div.clearBoth{
clear:both;
margin-top:20px;
}
div.copyrightrow{
background:#ffffff;
clear:both;
font-size:9px;
padding:25px;
text-align:center;
}
div.header{
clear:both;
color:#ffffff;
font-weight:bold;
padding:3px;
}
div.reportBox{
background:#52877c;
border:1px solid #e7e5da;
margin-top:1em;
}
div.row{
background:#f8f7ef;
background-color:#fefdf7;
clear:both;
margin-top:0px;
border-top:1px solid #e7e5da;
padding:3px;
}
div.row span.center{
margin-right:30px;
}
div.row span.left{
float:left;
text-align:left;
width:74%;
}
div.row span.right{
float:right;
text-align:right;
width:34%;
}
div.warrantyrow{
background:#ffffff;
clear:both;
font-size:9px;
text-align:center;
}
#colone,#coltwo,#colthree{
display:inline;
float:left;
margin-left:5px;
padding-top:3em;
width:30%;
}
