/*
use xb settings to make ul/li appear the
same in mozilla, ie and opera
*/
/* needed to keep IE from bubbling events
from items that are not contained but only
covered. */

form[name="languages"]{
	display:block;
	margin: 0;
}
div.navbar:after {
content:  ".";
display:  block;
height:  0px;
clear:  both;
visibility:  hidden;
}
div.navbar{
display: inline-table;
min-height: 1%;
_height:  1%;
_display:  block;
}
/* Hides from IE-mac \*/
* html div.navbar {height: 1%;}
div.navbar {display: block;}
/* End hide from IE-mac */
div#navbar_right{
float:right;
width:30%;
}
div#navbar_drop{
float:left;
width:70%;
}


ul.nde-menu-system{
background-color:#e3a679;
background-color:#EFEDEC;
background-color:#333;
background: -webkit-gradient(linear, left top, left bottom, from(#777), to(#333));
background: -moz-linear-gradient(top, #777, #333);
box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.3);
display:block;
margin:0 0 1em;
padding:8px 10px;
}
ul.nde-menu-system *{
font-size:12px;
}
ul.nde-menu-system li{
border-right:1px solid #50504e;
color:#ffffff;
/*color:#50504e;*/
display:inline;
font-weight:bold;
margin:0;
padding:8px 10px;
position:relative;
}
ul.nde-menu-system li:hover{
background: radial-gradient(top right, circle, red 50px, yellow 100px, rgba(255,255,255,0) 100px);
}
ul.nde-menu-system li a{
color:#ffffff;
/*color:#50504e;*/
font-weight:bold;
padding:5px 8px;
}
ul.nde-menu-system li a:hover{
background-color:transparent;
color:#ffffff;
/*color:#50504e;*/
text-decoration:underline;
}
ul.nde-menu-system li ul{
display:block;
left:0;
position:absolute;
top:1em;/* required for NS 7.x/Gecko 1.0.x but not Gecko 1.3 */
visibility:hidden;
z-index:1000;
box-shadow: 3px 3px 15px 3px rgba(0,0,0,0.3);
}
ul.nde-menu-system li ul li{
background: #E9F0E8;
border:#ccc 1px solid;
border-width:0 1px 1px;
display:block;
list-style:none;
margin:0;
padding:0;
width:150px;
}
ul.nde-menu-system li ul li a{
color:#333333;
display:block;
font-weight:normal;
margin:0;
padding:3px 5px;
height:100%;
background: #F6F5ED;
background: #fff;
}
ul.nde-menu-system li ul li:nth-child(even) a{
background: #f6f6f6;
}
ul.nde-menu-system li ul li a:hover{
background-color:#fce08c;
background-color:#C6E4F2;
color:#333333;
text-decoration:none;
}
ul.nde-menu-system ul{
/*background-color:#e3a679;
background-color:#50504E;*/
display:block;
margin:0;
padding:2px 0 0;
}
