/* 
 * 01 index
 * 02 select_category
 * 03 edit
 * 04 delete
 * 05 copy
 */

/* --- 01 index --- */
div.searchBox {
	width:100%!important;
	margin:10px auto 20px;
	padding:10px 0 0 0;
	background:#fcf3ce;
}
div.searchBox table{

}
div.searchBox table th{
	padding:5px 0px 5px 10px;
	text-align:left;
}
div.searchBox table td{
	padding:5px 5px 5px 0px;
}
div.searchBox table td img{
	vertical-align:middle;
}
div.searchBox table td a#fancybox_category img{
	cursor:pointer;
}
div.searchBox table input{
	width:10em;
}
div.searchBox table td#itemTitle input,
div.searchBox table td#itemDescription input{
	width:14em;
}

div.searchBox table td.submit{
	padding:5px;
	text-align:center;
	background:fce08c;
}
div.searchBox table td.submit input{
	width:65px;
}

div.listBox th,
div.listBox td.operation{
	white-space:nowrap;
}

/* --- 02 select_category --- */
table#selectCategoryBox{
	margin:20px 0;
	width:100%;
}
table#selectCategoryBox img{
	vertical-align:middle;
}
table#selectCategoryBox h2{
	font-size:100%;
}
table#selectCategoryBox td{
	padding:10px;
	vertical-align:top;
}
table#selectCategoryBox td#categoryList,
table#selectCategoryBox td#categorySearch{
	background:#fcf3ce;
	width:50%;
}
table#selectCategoryBox td#categoryList p{
	padding:8px;
	background:#efedec;
}
table#selectCategoryBox td#categoryList table,
table#selectCategoryBox td#categorySearch table{
	width:100%;
}
table#selectCategoryBox td#categoryList table,
table#selectCategoryBox td#categorySearch table{
	background:#ffffff;
}
table#selectCategoryBox td#categoryList table td,
table#selectCategoryBox td#categorySearch table td{
	padding:10px 5px;
	vertical-align:middle;
	border-bottom:solid 1px #e7e5da;
}
table#selectCategoryBox td#categoryList table td.categoryName img,
table#selectCategoryBox td#categorySearch table td.categoryName img{
	padding-left:3px;
	vertical-align:text-bottom;
}
table#selectCategoryBox td#categoryList table td.categoryChoice,
table#selectCategoryBox td#categorySearch table td.categoryChoice{
	text-align:right;
}
table#selectCategoryBox td#categoryList table td.categoryChoice img,
table#selectCategoryBox td#categorySearch table td.categoryChoice img{
	cursor:pointer;
}
table#selectCategoryBox td#categorySearch table{
	margin-top:25px;
}
table#selectCategoryBox td#categorySearch form input{
	vertical-align:middle;
}
p#windowClose{
	position:absolute;
	top:-10px;
	right:2px;
}


/* --- 04 delete --- */
table.delete th{
	width:5em;
}

/* --- 05 copy --- */
div.copy table.tableLayout3{
	border:solid 1px #e7e5da;
}
div.copy table.tableLayout3 td{
	background:#ffffff;
	border:none;
}
div.copy table.tableLayout3 td img{
	vertical-align:middle;
}
div.copy table.tableLayout3 td#categoriesSelect{
	background:#FFFFFF;
	border-left:solid 1px #e7e5da;
}
