@charset "utf-8";

/*
Site Name:
Description:
*/

/*M*/

/*L*/
#content{
	font-size: 134%;
}

/*S*/

/*resize*/
#font-size dd ul li.font-small a:link,
#font-size dd ul li.font-small a:visited{
	background-image: url(../images/font_small.gif);
	background-repeat: no-repeat;
}

#font-size dd ul li.font-small a:hover{
	background-image: url(../images/font_small-on.gif);
	background-repeat: no-repeat;
}

#font-size dd ul li.font-nomal a:link,
#font-size dd ul li.font-nomal a:visited{
	background-image: url(../images/font_nomal.gif);
	background-repeat: no-repeat;
}

#font-size dd ul li.font-nomal a:hover{
	background-image: url(../images/font_nomal-on.gif);
	background-repeat: no-repeat;
}

#font-size dd ul li.font-large a:link,
#font-size dd ul li.font-large a:visited{
	background-image: url(../images/font_large-active.gif);
	background-repeat: no-repeat;
}

#font-size dd ul li.font-large a:hover{
	background-image: url(../images/font_large-on.gif);
	background-repeat: no-repeat;
}

/* sub */
#block-sideboxes-categories h2{
	padding-top: 11px;
	padding-bottom: 7px;
}

/* productinfo */
.category #main #productGuide dl dd{
	padding-left: 6em;
}