@charset "euc-jp";

/*
Site Name: 
Description: IE Only
*/

#header-bar{
	padding: 6px 0;
}

#header-nav li{
	font-size: 109%;
}

span.ui-dynatree-connector,
span.ui-dynatree-expander,
span.ui-dynatree-checkbox
{
	position: relative;
	top: -1px;
}

#productDescription h2{
	padding-top: 10px;
}

.category #main #productGuide span.price{
	font-size: 160%;
}

/* sub */
/*block-super_products_list-block_categories*/
#block-super_products_list-block_categories ul li a,
#block-super_products_list-block_categories ul li a:hover,
#block-super_products_list-block_categories ul li.current a,
#block-super_products_list-block_categories ul li.current a:hover,
#block-super_products_list-block_categories ul ul li a{
	background-position:10px 0.5em;
}
