@charset "euc-jp";

/*
Site Name: 
Description: layout
*/

/* base layout
----------------------------------------- */
body{
	min-width: 980px;
}
#container{
	padding: 0px;
	margin: 0px;
	text-align: center;
	/*min-width: 1170px;*/
}


#header{
	width: 980px;
	padding-top: 10px;
	margin: 0px auto;
	text-align: left;
}



#content{
	width: 980px;
	margin: 0px auto;
	overflow: hidden;
	text-align: left;
}



#content{
	clear: both;
	padding-top: 20px;
	overflow: hidden;
}



#footer{
	margin-top: 10px;
	clear: both;
}



#main{
	float: right;
	width: 740px;
	overflow: hidden;
}



#sub-a{
	float: left;
	width: 230px;
	overflow: hidden;
}


#sub-b{
	float: right;
	width: 230px;
	overflow: hidden;
}


.home #indexDefaultSubContent{
	float: left;
	width: 620px;
	margin-top: 10px;
}


.home #sub-b{
	margin-top: 10px;
}

.onecolumn #main{
	float: none;
	margin: 0px auto;
}

.onecolumn #mainBody{
	width: 740px;
	margin: 0px auto;
}