@charset "euc-jp";

/*
Site Name: 
Description: layout
*/

/* base layout
----------------------------------------- */
body{
	min-width: 980px;
	background: #f5f5f5;
}
#container{
	padding: 0px;
	margin: 0px;
	text-align: center;
	/*min-width: 1170px;*/
}


#headerArea{
	background: #fff;
}
#header{
	width: 980px;
	padding-top: 10px;
	margin: 0px auto;
	text-align: left;
	zoom:1;
}


#content{
	width: 980px;
	margin: 0px auto;
	padding-top: 15px;
	overflow: hidden;
	text-align: left;
	clear: both;
	overflow: hidden;
}



#footer{
	margin-top: 10px;
	clear: both;
	border-top: 1px solid #CCC;
}



#main{
	float: right;
	width: 740px;
	overflow: hidden;
	background: #fff;
	border: 1px solid #CCC;
}



#sub-a{
	float: left;
	width: 230px;
	overflow: hidden;
}


#sub-b{
	float: right;
	width: 230px;
	overflow: hidden;
}


.home #indexDefaultSubContent{
	float: left;
	width: 620px;
	margin-top: 10px;
}


.home #sub-b{
	margin-top: 10px;
}

.onecolumn #main{
	float: none;
	margin: 0px auto;
	width: auto;
}

.onecolumn #mainBody{
	margin: 0px auto;
}